body {
    margin: 0;
    background-color: #98EEFA;
    font-family: 'Exo 2', sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
}

header {
    text-align: right;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo {
    float: left;
    width: 300px;
    height: auto;
    padding: 30px;
}

nav {
    text-align: right;
}

nav ul {
   margin: 0;
   padding: 0;
   list-style: none; 
}

nav li {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1em;
    margin-left: 1em;
    padding-top: 50px;
    color: #042940;  

    position: relative;
}

nav a {
    color: #042940; 
    text-decoration: none;
}

nav a:hover {
    font-weight: 650;
}

nav a::before {
    content: '';
    display: block;
    height: 10px;
    background-color: #042940;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

logo a:hover {
    background-color: #04D98B;
}